server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: "https://{{ client_ip_or_domain }}/loki/api/v1/push"

scrape_configs:
- job_name: webserver
  static_configs:
  - targets:
      - localhost
    labels:
      job: webvarlogs
      __path__: /var/log/**/*.log
